extends layout

block content
	#banner.page-header
		.row
			.col-md-6.col-sm-12
				h1= title
		.row
			.col-md-6.col-sm-12
				p
					| Loc8r was created to help people find places to sit down and get a bit of work done.
					| <br /><br />
					| Lorem ipsum dolor sit amet, duo ex tamquam patrioque. Erat idque eam ea, mei natum erroribus ex. Nam sumo decore ad, et everti doctus animal est. Qui ex forensibus accommodare, at detracto tractatos sea. Ut vim dolore discere accusata, mel te dicant incorrupte. Duis facilisis in pro, quo erat legere audiam id.
					| <br /><br />
					| Ei movet sententiae pri. Iusto quaeque in vix, nec propriae ullamcorper ut. Eam minim iudicabit te, eros noluisse elaboraret ex vis. Id ius elit propriae complectitur. Et pri esse tincidunt, no has latine inermis mnesarchum, elit legendos pri ad. Ei usu rebum posidonium, eu cibo postea antiopam has.